<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASbiCev6zOYR5T_7eAe9Comjyo5nOzTko</string>
	<key>GCM_SENDER_ID</key>
	<string>577937986681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pavan1984.foodapp</string>
	<key>PROJECT_ID</key>
	<string>food-app-86651</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-86651.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577937986681:ios:2bc66bde7d57c40883b0a8</string>
</dict>
</plist>